.particle>div {
  width: 10px;
  height: 10px;
  z-index: 9;
  position: fixed;
  border-radius: 50%;
  animation: particle 5s
}

@keyframes particle {
  to {
    top: var(--t);
    left: var(--l);
    opacity: 0;
    transform: scale(0);
    filter: hue-rotate(360deg) blur(1px);
  }
}